body {
    font-family: 'Cabin', sans-serif; 
}
header {
    color: gold ;
    background-color: black;
    min-height: 130px;
    text-decoration: none;   
    font-size: 30px;
    color: gold;
    padding-top: 25px;
}
.search {
    position: absolute;
    right: 45px; 
    bottom: 2px;
    width: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden; 
    white-space: nowrap;
    transition:  0.4s cubic-bezier(0.4, 0, 0.2, 1),  0.3s linear;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: white;
    border: 3px solid gold;
    outline: none;
}
.search.aberto {
    width: 200px;
    opacity: 1;
    padding: 5px 10px;
}
.accordion {
    display: flex;
    align-items: center;
    position: relative;
}   
.botao {
    background: none;      
    border: none;          
    padding: 0;            
    cursor: pointer;       
    display: flex;         
    align-items: center;
}
#lupa {
    width: 35px;
}
#lupa:hover {
    transform: scale(1.1);
}
nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;  
}
.nav {
    text-decoration: none;   
    font-size: 30px;
    color: gold;
    font-weight: bold;
}
.nav:hover {
    color: white; 
    transform: scale(1.1);          
}
#imgnav {
    width: 100px; 
    display: block;
}
#imgnav:hover {
    transform: scale(1.0.5);
}
.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#title {
    font-size: 33px;
    color: gold;
    font-weight: bolder;
    padding: 30px;
}
#text {
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}
.anchortext {
    text-decoration: none;
    color: gold;
}
.anchortext:hover {
    color: goldenrod;
}