header {
    background-color: rgb(249, 255, 172);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    height: 35px;
    font-family: 'Oswald', sans-serif; text-transform: uppercase;
}
.link-header {
    text-decoration: none;   
    font-size: 30px;
    color: rgb(255, 191, 0);
    padding: 50px;
}
.link-header:hover {
    cursor: pointer;
    font-size: 35px; 
    font-weight: bolder;
}
#imglogo {
    height: 45px;
}
#imglogo:hover {
    cursor: pointer;
    height: 50px;
}
.container-texto {
    display: flex;
    justify-content: center;
}