header {
    background-color: rgb(255, 183, 75);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 35px;
    font-family: 'Oswald', sans-serif; text-transform: uppercase;
}
.link-header {
    text-decoration: none;   
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding: 25px;
}
.link-header:hover {
    cursor: pointer;
    font-size: 35px;  
}